<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<footer class="bg-dark text-white text-center p-3 mt-4" th:fragment="footer">
		<p>© 2015-2024 | UNJu Virtual - Plataforma de Educación a Distancia (EaD)</p>
		<p>
			<a href="http://www.unju.edu.ar" target="_blank" class="no-underline navbar-hover"> <img
				th:src="@{/images/marcador.svg}" alt="Bootstrap" width="30"
				height="24"> http://www.unju.edu.ar
			</a> <a href="mailto:virtual@unju.edu.ar" class="no-underline navbar-hover"> <img
				th:src="@{/images/mail.svg}" alt="Bootstrap" width="30" height="24">
				virtual@unju.edu.ar
			</a> <a href="tel:0388154708223" class="no-underline navbar-hover"> <img
				th:src="@{/images/celular.svg}" alt="Bootstrap" width="30"
				height="24"> 0388 - 154708223
			</a>
		</p>
		<p>© 2024 Jorge Ariel Saravia</p>
	</footer>
</body>
</html>